html, body{
  margin: 0;
  height: 100%;
}
p{
  margin: 0;
}
.container{
  height: 100%;
  background: #fff;
}
.left, .middle, .right{
  height: 100%;
}
.left{
  width: 20%;
  background: red;
}
.middle{
  background: green;
}
.right{
  width: 20%;
  background: blue;
}
